{% assign product_page = include.product_page %}

<button class="button button--std snipcart-add-item" id="my-button"
    data-item-id="1"
 data-item-url="/"
 data-item-name="Item"
 data-item-price="20.00"
 data-item-custom2-name="Size"
 data-item-custom2-options="Small|Medium|Large">
   Buy now
</button>
</div>
<div class="product__additional-data">
<!--Note the class above is were you have the partials...
{% partial product ~ '::properties.htm' properties = product.properties %} 
{% partial product ~ '::links.htm' links = product.links %}
-->
  <p>Size:
    <select id="my-size">
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
    </select></p>
</div>

<script>
  $('#my-size').change(function() {
    $('#my-button').data('item-custom2-value', $(this).val());
});
</script>
